8300                    BITMAP  FIXED IMPURE    "cards\\as.bmp"
8301                    BITMAP  FIXED IMPURE    "cards\\A.bmp"
8302                    BITMAP  FIXED IMPURE    "cards\\2.bmp"
8303                    BITMAP  FIXED IMPURE    "cards\\3.bmp"
8304                    BITMAP  FIXED IMPURE    "cards\\4.bmp"
8305                    BITMAP  FIXED IMPURE    "cards\\5.bmp"
8306                    BITMAP  FIXED IMPURE    "cards\\6.bmp"
8307                    BITMAP  FIXED IMPURE    "cards\\7.bmp"
8308                    BITMAP  FIXED IMPURE    "cards\\8.bmp"
8309                    BITMAP  FIXED IMPURE    "cards\\9.bmp"
8310                    BITMAP  FIXED IMPURE    "cards\\10.bmp"
8311                    BITMAP  FIXED IMPURE    "cards\\J.bmp"
8312                    BITMAP  FIXED IMPURE    "cards\\Q.bmp"
8313                    BITMAP  FIXED IMPURE    "cards\\K.bmp"
8321                    BITMAP  FIXED IMPURE    "cards\\AR.bmp"
8322                    BITMAP  FIXED IMPURE    "cards\\2R.bmp"
8323                    BITMAP  FIXED IMPURE    "cards\\3R.bmp"
8324                    BITMAP  FIXED IMPURE    "cards\\4R.bmp"
8325                    BITMAP  FIXED IMPURE    "cards\\5R.bmp"
8326                    BITMAP  FIXED IMPURE    "cards\\6R.bmp"
8327                    BITMAP  FIXED IMPURE    "cards\\7R.bmp"
8328                    BITMAP  FIXED IMPURE    "cards\\8R.bmp"
8329                    BITMAP  FIXED IMPURE    "cards\\9R.bmp"
8330                    BITMAP  FIXED IMPURE    "cards\\10R.bmp"
8331                    BITMAP  FIXED IMPURE    "cards\\JR.bmp"
8332                    BITMAP  FIXED IMPURE    "cards\\QR.bmp"
8333                    BITMAP  FIXED IMPURE    "cards\\KR.bmp"
8355                    BITMAP  FIXED IMPURE    "cards\\club.bmp"
8356                    BITMAP  FIXED IMPURE    "cards\\diamond.bmp"
8357                    BITMAP  FIXED IMPURE    "cards\\heart.bmp"
8358                    BITMAP  FIXED IMPURE    "cards\\spade.bmp"
8359                    BITMAP  FIXED IMPURE    "cards\\bmp8359.bmp"
8360                    BITMAP  FIXED IMPURE    "cards\\bmp8360.bmp"
8378                    BITMAP  FIXED IMPURE    "cards\\24bit\\face\\165W\\jc.bmp"
8379                    BITMAP  FIXED IMPURE    "cards\\24bit\\face\\165W\\jd.bmp"
8380                    BITMAP  FIXED IMPURE    "cards\\24bit\\face\\165W\\jh.bmp"
8381                    BITMAP  FIXED IMPURE    "cards\\24bit\\face\\165W\\js.bmp"
8382                    BITMAP  FIXED IMPURE    "cards\\24bit\\face\\165W\\qc.bmp"
8383                    BITMAP  FIXED IMPURE    "cards\\24bit\\face\\165W\\qd.bmp"
8384                    BITMAP  FIXED IMPURE    "cards\\24bit\\face\\165W\\qh.bmp"
8385                    BITMAP  FIXED IMPURE    "cards\\24bit\\face\\165W\\qs.bmp"
8386                    BITMAP  FIXED IMPURE    "cards\\24bit\\face\\165W\\kc.bmp"
8387                    BITMAP  FIXED IMPURE    "cards\\24bit\\face\\165W\\kd.bmp"
8388                    BITMAP  FIXED IMPURE    "cards\\24bit\\face\\165W\\kh.bmp"
8389                    BITMAP  FIXED IMPURE    "cards\\24bit\\face\\165W\\ks.bmp"
